ul {
    list-style-type: none;
    margin-top: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }


.active {
  background-color: #111;

}

  li {
    float: left;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
  }

  li a:hover {
    background-color: #111;
  }

  