<header class="site-header">
  <nav class="main-nav">
    <ul class="rounded  ">
      <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="">Home</a>
      </li>
      <li [routerLinkActive]="'active'"  ><a routerLink="products">Products</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="contact">ContactUs</a></li>
      <li [routerLinkActive]="'active'"><a routerLink="cartproducts">Cart Products</a></li>
    
    
    </ul>
  </nav>
</header>