section {
  max-width: 85rem;
  margin: 1rem auto;
  padding: 1rem;

  border-radius: 8px;
}

section h2 {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  margin-bottom: 1rem;
  color: #9a340c;
  text-align: center;
}
