<div class="container a">
  <div class="row border rounded">
    <div>
      <h6>Filter By Group</h6>
      @for(cate of cates; track cate.name){
      <button class="button" (click)="filter(cate.name)">{{cate.name}}</button>
      }

    </div>


    <div class="col border">



      <app-searchbox (searchText)="click($event)"></app-searchbox>

      @if (isFetching() && !sig_error()) {
      <p class="fallback-text">Fetching Available Stocks.....</p>
      }

      @if (sig_error()){
      <p class="fallback-text">{{sig_error()}}</p>
      }

      @if (sig_stocks()&& !gg) {
      <p>Please See Below</p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">IDs</th>
            <th scope="col">Category</th>
            <th scope="col">Maker</th>
            <th scope="col">Part Number</th>
            <th scope="col">Description</th>
            <th scope="col">Available(Pcs)</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>

          <!-- @for (stock of shuffledStocks ; track stock.id) { -->


          <tr *ngFor="let stock of shuffledStocks | slice:0:20; trackBy: trackByStockId">
            <td>{{ stock.id }}</td>
            <td>{{ stock.cate }}</td>
            <td>{{ stock.mfg }}</td>
            <td>{{ stock.pn }}</td>
            <td>{{ stock.des }}</td>
            <td>{{ stock.qty | number }}</td>
            <td><a [routerLink]="'details/'+ stock.grp +'/'+stock.id">See</a></td>
          </tr>

         
        </tbody>
      </table>


      } @else if (sig_stocks()?.length === 0) {
      <p class="fallback-text">Unfortunately, no stocks could be found.</p>
      }

    </div>
  </div>
</div>