.fallback-text {
  text-align: center;
}
p.text{
    font-size: large;
    font-weight: bold;
}


ul {
  max-width: 80rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  grid-gap: 2rem;
  margin: 0 px;
  padding: 0;
  list-style: none;
}

.place-item {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background: #1f1c2c;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  animation: slide-up-fade-in 0.3s ease-out forwards;
}

.place-item button {
  background: transparent;
  border: none;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.place-item:nth-child(odd) button:hover,
.place-item:nth-child(odd) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(5deg);
}

.place-item:nth-child(even) button:hover,
.place-item:nth-child(even) button:focus {
  box-shadow: 0 0 8px 4px rgba(255, 217, 0, 0.6);
  border-radius: 8px;
  transform: rotate(-5deg);
}

.place-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.place-item h3 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  right: 1rem;
  margin: 1rem auto;
  background-color: #feee86;
  border-radius: 4px;
  padding: 0.15rem 0.35rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

table, th, td {
  border: 1px solid black;
}
th {
  text-align: left;
}

td {
  text-align: left;
}
tr:hover {background-color:lightgray}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content  a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.button {
  background-color: #04AA6D;
  border: none;
  color: white;
 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}