<table style="width: 100%">
  <tr>
    <th>ID</th>
    <th>Category</th>
    <th>Maker</th>
    <th>Part Number</th>
    <th>Description</th>
    <th>Available(Pcs)</th>
    <th>Details</th>
  </tr>

  @for (stock of stocks(); track stock.cate) {

  <tr>
    <td>{{ stock.id }}</td>
    <td>{{ stock.cate }}</td>
    <td>{{ stock.mfg }}</td>
    <td>{{ stock.pn }}</td>
    <td>{{ stock.des }}</td>
    <td>{{ stock.qty | number }}</td>
    <td><a [routerLink]="'/details/' + stock.id">See</a></td>
  </tr>

  }
</table>
