<h2>Details</h2>

<div class="border px-3 py-3 container">
  <div class="row">
    <div class="col">
      <div class="image-wrapper">
        <img [src]="product.img?.src" style="height: 500px width: auto;" class="img-fluid mx-auto d-block"
          alt="{{product.img?.alt}}">
      </div>
    </div>
    <div class="col border">

            <table class="table">

        <tbody>
          <tr>
            <td><b>PART NUMBER</b></td>
            <td>{{product.pn}}</td>
          </tr>
          <tr>
            
            <td><b>Maker</b></td>
            <td>{{product.mfg}}</td>
          </tr>
          <tr>
            
            <td><b>Description</b></td>
            <td>Triode Tube for Power Stage</td>
           
          </tr>
        </tbody>
      </table>
      
      <app-counter></app-counter>
      <div class="d-flex justify-content-center mt-3">
        <app-button [text]="'Add To Cart'"></app-button>
      </div>
        


    </div>


  </div>







</div>