<div class="container text-center">
  <div class="row">
    <div class="col border rounded">
      <div class="col border rounded m-1">HOT</div>
      <div class="col border rounded p-1 m-1">
        <img
          src="../assets/SOIC-8.png"
          width="100%"
          height="auto"
          alt="pictures"
        />
        <span class="align-middle">ST-Micro Amplifiers</span>
      </div>
      <div class="col border rounded p-1 m-1">
        <img src="../assets/s5.png" width="100%" height="auto" alt="" />
        <span class="align-middle">Shindengen Bridge Diode</span>
      </div>
    </div>
    <div class="col-7 border">
        <div class="row border"></div>
      <div div class="row border">
      <img
        class="rounded"
        src="../assets/pexels-photo-4484078.webp"
        alt="the man who ready support stock"
        width="100%"
        height="auto"
      />
       </div>
       <div class="row border"></div>
    </div>
    <div class="col border rounded">
      <div class="col border rounded m-1">HOT</div>
      <div class="col border rounded p-1 m-1">
        <img src="../assets/lqfp-120.png" width="100%" height="auto" alt="" />
        <span class="align-middle">Renesas MCU</span>
      </div>
      <div class="col border rounded p-1 m-1">
        <img src="../assets/antenna.png" width="100%" height="auto" alt="" />
        <span class="align-middle">Johanson Antenna</span>
      </div>
    </div>
  </div>

  <div class="container row">
    <div class="col border rounded">2</div>

    <div class="col-9 border rounded">
      <h2>We have stock</h2>
      <p>
        We are sharing the status of stock between each, Ready to delivery you can check.
      </p>
      <h2>You Have Stock ?</h2>
      <p>Please tell us to help the return</p>
    </div>
    <div class="col border rounded">7</div>

    <h1>SO HOT PRODUCTS</h1>
    <div class="container text-center">
      <div class="row">
        <div class="col border rounded">
          <app-cardholder />
        </div>
        <div class="col border rounded">
          <app-cardholder />
        </div>
        <div class="col border rounded">
          <app-cardholder />
        </div>
        <div class="col border rounded">
          <app-cardholder />
        </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body p-1">
      <h5 class="card-title">Excess Stock Thailand</h5>
      <!-- <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>
</div>
