/* p {
  text-align: left;
}
h1{
  font-size: 5vw;
}
.row {
  margin-top: 10px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
} */
ul {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}