<div class="border px-3 py-2 rounded shadow-sm h-100 card-holder">
  <div>
    <a [routerLink]="['/product','details', product.cate, product.id]" [state]="{ product: product }">
      <div class="rounded image-box el-image">
        <img  [src]="product.img?.src" alt="{{product.img?.alt}}" class="el-image__inner rounded"/>
      </div>
    </a>
  </div>


<div class="my-3  hot-info text-start">
  
  <p>Brand: {{product.mfg}}</p>
  <p>{{product.pn}}</p>
  <p>Price : {{product.price}}</p>
  
</div>
</div>

<div class="mt-2 d-flex justify-content-center">

</div>